.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
    cursor: default;

} 

.component{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 6px solid #000;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    text-align: center;
    padding: 1em;
    margin: 1em;
    font-family: "Poppins", sans-serif;    
}

.title{
    text-decoration: underline;
    letter-spacing: 1px;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 2em 0 2em;
}

label{
    display: block;
}

.input-group{
    position: relative;
}

.input-group > input{
    padding: 0.5em;
    border-radius: 15px;
    font-size: 18px;
    position: relative;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.1);
}

.input-group > label{
    position: absolute;
    z-index: 100;
    color: darkgray;
    background-color: inherit;
    background-color: white;
    font-size: 15px;
    padding: 0px 0.5em;
    left:8%;
    top:25%;
    cursor:text;
    transition: all 0.3s;
}

.input-group > input:focus ~ label,
.input-group > input:valid ~ label{
    color:black;
    font-size: 14px;
    top:-15%;
    transform: translateY(0px);
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;

}

.email-label{
    transform: translateY(-5px);
}

.input-group .icon{
    width:20px;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 8%
}

.input-group p{
    color: red;
    margin-left: 2em;
    text-align: left;
}

.submit-button{
    
    color: black;
    background-color: lightgray;
    padding:0.8em 0.5em;
    border: 3px solid #000;
    border-radius: 15px;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s;
}

.submit-button:hover{
    font-size: 17px;
    scale: 110%;
}

.progress{
    display: flex;
    padding: 1em;
}

.progress::after{
content: '65%';
}

.progress span{
    background-color: #000;
    flex-grow: 1;
    margin: .3em;
    border-radius: 30px;
    position: relative;
}

.progress span::before{
    content: "";
    position: absolute;
    background-color: orange;
    z-index: 2;
    width: 100px;
    left: -4%;
    bottom: -60%;
    padding: 5px;
    margin: .3em;
    border-radius: 30px;
    
}

.list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: start;
    margin: 0 2em 0 2em;
    padding: 1em 2em;
    border-radius: 13px ;
    background-color: lightgray;
    line-height: 1.5;
}

.list li s{
    color:gray
}