*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    letter-spacing: .5px;
    line-height: 1.5;
}

html{
    height: 100%;
}

body{
    min-height: 90% ;
    font-family: "Roboto", sans-serif;
}
