body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.grid-container{
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";

}


.item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid black;
    box-shadow: 0 5px 15px black ;
    filter: brightness(0.8);
    transition: all 0.3s;
}

.item > img:hover{
    filter: brightness(1);
    scale: 105%;
    
}


@media(max-width: 56em){
    .grid-container{
        grid-template-areas: 
        "box-1 box-1 box-2"
        "box-1 box-1 box-3"
        "box-4 box-5 box-5";
    }
}

@media(max-width: 42em){
    .grid-container{
        grid-template-areas: 
        "box-1 box-2 "
        "box-3 box-2 "
        "box-3 box-4 "
        "box-5 box-4 ";
    }
}