.grid-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    height: 100vh;
    gap:5em;
}

.changelog-header{
    margin-top:2em;
    text-align: center;
}

h3, p{
    color: gray
}

.changelog-timeline{
    display: grid;
    grid-template-columns:1fr 50px 2fr; 
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.date p{
    text-align: end;
    color: gray;
    margin-top: 3em;
    position: relative;
}

.stamp{
    display: grid;
    justify-content: center;
}



.stamp p{
    text-align: center;
    background-color: black;
    padding:10px;
    border-radius: 100%;
    width: 10px;
    position: relative;
    margin-top: 3em;
}

.stamp p::after{
    position: absolute;
    content: " ";
    padding: 3em;
    border-right: 3px solid black;
    right: 45%;
    top:-200%;
}

.text p{
    text-align: start;
    color: black;
    margin-top: 3em;
    position: relative;
}

.changelog-button{
    text-decoration: none;
    padding:1em;
    background-color: black;
    margin-bottom: 2em;
    border-radius: 15px;
    color:white;
    cursor: pointer;

}
