body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    align-items: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accordion-container{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
    background-color: whitesmoke;
    border: 6px solid #000;
    border-radius: 15px;
    box-shadow: 0 0 6px #000;
}

.accordion-item{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.accordion-question{
    background-color: rgb(214, 203, 203);
    color: #000;
    padding: .5em 1em;
    border-radius: 13px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 5px ;
}

.arrow{
    position: absolute;
    right: 5%;
    transition: .3s;
    transform: rotate(90deg);
}

.arrow.active{
    transform: rotate(0deg);
}

.accordion-answer{
    border: 2px solid;
    border-radius: 12px;
    cursor: default;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: .5s;
    padding: 0 1em;
}

.accordion-answer.active{
    max-height: 500px;
    margin-top: .5em;
    opacity: 1;
    padding: .5em 1em;
}
